# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
vendor/

# Optional npm cache directory
.npm

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

.vscode/